<nav>
    <form action="/" method="GET">
        <button type="submit" id="home-button">
            Home
        </button>
    </form>
    <form action="/new" method="GET">
        <button type="submit" id="add-button">
            Add Entry
        </button>
    </form>
</nav>